body, html {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f4;
  display: block;
}

.app-container {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.input-container {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}



input, button {
  padding: 10px;
  margin: 5px;
  border-radius: 4px;
  border: 1px solid #ddd;
}

button {
  cursor: pointer;
  background-color: #5cb85c;
  color: white;
}

button:hover {
  background-color: #4cae4c;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  max-height: 700px;
  overflow-y: auto; 
}


li {
  margin: 10px 0;
  background: #efefef;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-radius: 4px;
}


@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

li {
  animation: fadeIn 0.9s;
}


.alert {
  padding: 10px;
  margin-top: 10px;
  color: white;
  background-color: red;
  text-align: center;
  border-radius: 4px;
  display: none;
}

.alert.show {
  display: block;
}


.button-group {
  display: flex;
  justify-content: flex-end;
}


input[type="checkbox"] {
  width: 20px;
  height: 20px;
  appearance: none; 
  border: 1px solid green;
  border-radius: 4px; 
  outline: none; 
  cursor: pointer; 
  margin-right: 8px; 
}

input[type="checkbox"]:checked {
  background-color: #5cb85c; 
  border-color: #5cb85c; 
}